//COLOR
$black-pure: #000000;
$background-button: rgba(255, 209, 152, 0.619);
$background-hover:   rgba(140, 140, 140, 0.525);
$border-button: #000000;
$background-gral:   rgba(255, 255, 247);
$background-paleta: rgb(255, 228, 196);

//TAMANO
$p-size:14px;
$title-h1-size:35px;
$title-h3-size:18px;
$title-gral-size:18px;