/*----------------GENERAL----------------*/
*{
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*font-family: "Rubik", sans-serif;*/
a {
    text-decoration: none;
    color: black;
}

/*ESTILO BODY*/
body{
    margin: 0 32px;
    background-color: rgb(255, 255, 247);
    text-transform: capitalize;
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    line-height: 1.6;
}

/*Header*/
header {
    padding-top: 30px;
}

/* TITULO PRINCIPAL*/

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    padding: 16px;
    margin: 16px;
}




/*ESTILOS NAVEGACION*/
.navbar-brand {
    font-size: 18px;
}

.img-nav {
    width: 100px;
}

.bi {
   height: 26px;
   width: 26px; 
}




/*BUTTON LINK*/
button { 
    color: black;
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    padding: 6px;
    border-radius: 8px;
}

/*Card modif*/

.cards {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 5px;
    padding: 20px 12px 25px 12px;

}

.btn-outline- {
    background-color: bisque;
}

.card-modif {
    background-color: bisque;
}


/*ESTILOS TITULOS*/
.titulos{
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
}


/*ESTILOS TITULOS H3*/
h3{
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
}

/*PARRAFOS PRINCIPAL*/
.parrafo-gral{
    text-align: center;
    font-style: italic;
}


/*ESTILOS FOOTER*/
.footer {
    color: rgb(62, 65, 64);
    display: flex;
    flex-direction: row;
    padding-top: 100px;

}
.img-footer {
    width: 100px;
} 



/*---------------FAQS PAGES---------------*/
.list-group-item {
    background-color: bisque;
    color: black;
    
}






/*------- CURSO PAGES--------*/

.curso-conteiner {
    margin: 16px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

} 

.curso {
    padding: 16px;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
}
.curso img {
    width: 100%;
}
.curso h3 {
    text-align: center;
    margin: 16px 0;
}
.curso p {
    text-align: center;
    margin: 8px 0;
}
.curso-button {
    text-decoration: none;
    color: black;
    padding: 8px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 5px;
    background-color: bisque;
} 

/*----------------SOBRE NOSOTROS ESTILO----------------*/
.colaboradores {
    background-color: bisque;
}
.rounded {
    padding: 1px;
}

/*---------------CONTACTO PAGES---------------*/
.contact-container {
    padding: 40px 10% 6px 10%;
}










